<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
           
                <nav class="navbar navbar-expand-md  bg-info">
                    <div class="col-md-10">
                    <a href="/" class="navbar-brand">EVENT SCHEDULER</a></div>
                    <div class="col-md">
                    <a href="/" class="navbar-brand">HOME</a>
                </div>
                </nav>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{data.image.url}}" class="img-thumbnail"/><br>
            </div>
            <div class="col-md-6">
                <p class="text-uppercase text-center fs-1"><b>{{data.title}}</b></p><hr><br>
                        <p class="text-center fs-3"><b>Date</b>: {{data.date}}<br>
                        <b>Time</b>: {{data.time}}<br>
                        <b>Venue</b>: {{data.venue}}<br>
                        <b>Email</b>: {{data.email}}<br>
                        <b>Description</b>: {{data.description}}
                        </p>
       
        </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>